<footer id="at-footer" class="at-footer at-haslayout">
    <div class="at-footercontent">
        <div class="container">
            <div class="row gy-lg-0 gy-5">
                <div class="col-lg-3">
                    <div class="at-footerlogo">
                        <strong class="at-logo">
                            <a href="javascript:void(0);">
                                <img src="/Assets/images/logo.svg" alt="Logo">
                            </a>
                        </strong>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="at-footerinfo">
                        <p>Transform images into 3D models and generate 3D <span>models from images in minutes.</span></p>
                        <div class="at-emailadd">
                            <span>Email Address</span>
                            <a href="javascript:void(0);">3dfashionn@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="at-footerlinks">
                        <h4>Quick Links</h4>
                        <ul class="at-addnav">
                            <li><a href="/index">Home</a></li>
                            <li><a href="/image-to-3d">Image to 3D Models</a></li>
                            <li><a href="/try-now">Try Now</a></li>
                            <li><a href="/help">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="at-footerlinks">
                        <h4>Follow Us On</h4>
                        <ul class="at-socialicons">
                            <li>
                                <a href="javascript:void(0);">
                                    <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.5854 0.399902H6.58545C2.98545 0.399902 0.585449 2.7999 0.585449 6.3999V13.5999C0.585449 17.1999 2.98545 19.5999 6.58545 19.5999H18.5854C22.1854 19.5999 24.5854 17.1999 24.5854 13.5999V6.3999C24.5854 2.7999 22.1854 0.399902 18.5854 0.399902ZM14.8535 11.2359L11.8894 13.0119C10.6894 13.7319 9.70542 13.1799 9.70542 11.7759V8.21191C9.70542 6.80791 10.6894 6.25592 11.8894 6.97592L14.8535 8.75189C15.9935 9.44789 15.9935 10.5519 14.8535 11.2359Z" fill="white"/>
                                    </svg>												
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M21.9188 0C22.626 0 23.3043 0.280951 23.8044 0.781048C24.3045 1.28115 24.5854 1.95942 24.5854 2.66667V21.3333C24.5854 22.0406 24.3045 22.7189 23.8044 23.219C23.3043 23.719 22.626 24 21.9188 24H3.25212C2.54487 24 1.86659 23.719 1.3665 23.219C0.866401 22.7189 0.585449 22.0406 0.585449 21.3333V2.66667C0.585449 1.95942 0.866401 1.28115 1.3665 0.781048C1.86659 0.280951 2.54487 0 3.25212 0H21.9188ZM21.2521 20.6667V13.6C21.2521 12.4472 20.7942 11.3416 19.979 10.5264C19.1638 9.71128 18.0583 9.25333 16.9054 9.25333C15.7721 9.25333 14.4521 9.94667 13.8121 10.9867V9.50667H10.0921V20.6667H13.8121V14.0933C13.8121 13.0667 14.6388 12.2267 15.6655 12.2267C16.1605 12.2267 16.6353 12.4233 16.9854 12.7734C17.3355 13.1235 17.5321 13.5983 17.5321 14.0933V20.6667H21.2521ZM5.75878 7.41333C6.35287 7.41333 6.92262 7.17733 7.3427 6.75725C7.76278 6.33717 7.99878 5.76742 7.99878 5.17333C7.99878 3.93333 6.99878 2.92 5.75878 2.92C5.16116 2.92 4.58802 3.1574 4.16544 3.57999C3.74285 4.00257 3.50545 4.57571 3.50545 5.17333C3.50545 6.41333 4.51878 7.41333 5.75878 7.41333ZM7.61212 20.6667V9.50667H3.91878V20.6667H7.61212Z" fill="white"/>
                                    </svg>												
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5854 23.736L15.1999 10.0562L15.2159 10.069L23.6784 0.26416H20.8505L13.9567 8.2446L8.48227 0.26416H1.06565L9.82794 13.0361L9.82689 13.035L0.585449 23.736H3.41337L11.0776 14.8573L17.1688 23.736H24.5854ZM7.36178 2.39796L20.5303 21.6022H18.2893L5.11015 2.39796H7.36178Z" fill="white"/>
                                    </svg>												
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="at-copyrights">
        <p>© 2024 3D Model. All Rights Reserved</p>
    </div>
</footer>