<%- include('./partials/top-menu') %>
<%= animatedModelPath %>
    <!--<% if (animatedModelPath) { %>
        <p>Your animated model is saved at: <%= animatedModelPath %></p>
        <a href="<%= animatedModelPath %>" download>Download Animated Model</a>
    <% } %> -->