<%- include('./partials/top-menu') %>
<div class="at-hombanner at-haslayout">
    <div class="at-bannercontentholder">
        <h1>Automatically <span>transform your images</span> into 3D digital assets in<span> minutes</span> </h1>
        <p>It's not sorcery, it's the power of generative AI</p>
        <ul class="at-addnavloginsignup">
            <li><a class="at-btn at-btngradiant" href="javascript:void(0);">Get started now</a></li>
        </ul>
    </div>
    <div class="at-bannervideosholder">
        <div class="at-bannervideos">
            <figure class="at-videoplaceholder">
                <img src="/Assets/images/video-placeholder.jpg" alt="Video video-placeholder">
                <button class="at-btnplay" type="button">
                    <img src="/Assets/images/play-icon.svg" alt="Play Icon">
                </button>
            </figure>
        </div>
    </div>
</div>
<!--************************************
        Home Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="at-main" class="at-main at-haslayout">
    <!--************************************
        Generate 3D Start
    *************************************-->
    <div class="at-haslayout at-sectionspace at-topspacezero">
        <div class="container">
            <div class="row">
                <div class="at-imageto3d">
                    <div class="at-bannerbottomtext">
                        <h1>Image to 3D model <span>generation</span></h1>
                        <p>Upload a single shot image and Platform will turn it into a 3D model.</p>
                    </div>
                    <div class="at-generationimages">
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/02.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/01.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/03.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/04.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/02.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/01.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/03.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/04.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/02.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/01.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/03.gif" alt="Gif">
                            </figure>
                        </div>
                        <div class="at-generationimage">
                            <figure>
                                <img src="/Assets/images/gifs/04.gif" alt="Gif">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        Generate 3D End
    *************************************-->
    <!--************************************
        WHy 3D Model Start
    *************************************-->
    <div class="at-haslayout at-sectionspace at-topspacezero">
        <div class="at-benifitsoffashion">
            <div class="at-sectiontitle">
                <h3>Benefits of using <span> Fashion 3D AI 3D model</span> generator</h3>
            </div>
            <div class="at-benefitsarea">
                <div class="at-benefit">
                    <span>Fully automated process using our cutting-edge generative ai</span>
                </div>
                <div class="at-benefit">
                    <span>Generate dozens of standard 3D objects in minutes</span>
                </div>
                <div class="at-benefit">
                    <span>Standard model quality</span>
                </div>
                <div class="at-benefit">
                    <span>Download and edit your 3D models immediately</span>
                </div>
                <div class="at-benefit">
                    <span>Delivery time per object up to 1 minute</span>
                </div>
                <div class="at-benefit">
                    <span> Compatible with any 3D, ar or vr environment</span>
                </div>
                <div class="at-benefit">
                    <span>Up to 100x cheaper</span>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        WHy 3D Model End
    *************************************-->
    <!--************************************
        Intrested Alpha Start
    *************************************-->
    <div class="at-haslayout at-sectionspace at-topspacezero">
        <div class="container">
            <div class="row">
                <div class="at-intrestedarea">
                    <figure class="at-intrestedbg">
                        <img src="/Assets/images/intrested-bg.jpg" alt="Intrested Bg">
                    </figure>
                    <div class="at-intrestedareacontent">
                        <h3>Interested in <span>giving Fashion3D</span> a try?</h3>
                        <p>Creating 3D content for augmented reality (AR) projects is a costly and time-consuming process. With Alpha3D, you can generate 3D models from text or 2D images quick and easy. Sign up and generate your first 50 3D models for free.</p>
                        <div class="at-btnarea">
                            <a class="at-btn" href="javascript:void(0);">Get started now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        Intrested Alpha End
    *************************************-->
</main>
<%- include('./partials/footer') %>