<%- include('./partials/top-menu') %>
<div class="at-hombanner at-haslayout">
    <div class="at-bannercontentholder">
        <h1>Transform images <span>into 3D models</span></h1>
        <p>It's not sorcery, it's the power of generative AI</p>
        <ul class="at-addnavloginsignup">
            <li><a class="at-btn at-btngradiant" href="javascript:void(0);">Get started now</a></li>
            <li><a class="at-btn" href="javascript:void(0);">Let’s Chat</a></li>
        </ul>
    </div>
    <div class="at-bannervideosholder">
        <div class="at-bannervideos">
            <div class="row gy-md-0 gy-4">
                <div class="col-md-4">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/05.gif" alt="Gif">
                        </figure>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/06.gif" alt="Gif" style="max-width: 340px; width: 100%; height: auto; margin: -80px 0 0 ;">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row gy-md-0 gy-4">
                <div class="col-md-3">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/11.gif" alt="Gif">
                        </figure>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/07.gif" alt="Gif" style="max-width: 240px; width: 100%; height: auto;">
                        </figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/08.gif" alt="Gif" style="max-width: 340px; width: 100%; height: auto;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="at-bannerbottomtext">
        <h1>Create 3D models in <span>minutes. Up to 100x</span> cheaper.</h1>
        <p>Creating 3D models for augmented reality (AR) is notoriously costly, laborious, and time-consuming. Fashion 3D is a generative AI-powered platform that makes it faster, cheaper, and easier for users to automatically convert  images to 3D.</p>
    </div>
</div>
<!--************************************
        Home Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="at-main" class="at-main at-haslayout">
    <!--************************************
        Generate 3D Start
    *************************************-->
    <div class="at-haslayout at-sectionspace at-generatebg">
        <div class="container">
            <div class="row">
                <div class="at-generatearea">
                    <div class="at-generatecontent">
                        <h2>Generate 3D <span>models from</span> images in minutes</h2>
                        <p>You don’t need to be a designer to create 3D content.
                            <span>Fashion 3D simple and user-friendly interface lets you transform images to 3D model</span> digital assets in just a few clicks:</p>
                            <ul class="at-generatebullets">
                                <li><span>Upload a image of a real-life object</span></li>
                                <li><span>Platform will automatically transform your input into 3D model</span></li>
                                <li><span>Download and use your 3D model on any 3D, AR, VR or metaverse platform</span></li>
                            </ul>
                    </div>
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/09.gif" alt="Gif">
                        </figure>
                    </div>
                </div>
                <div class="at-generatearea">
                    <div class="at-video">
                        <figure>
                            <img src="/Assets/images/gifs/10.gif" alt="Gif">
                        </figure>
                    </div>
                    <div class="at-generatecontent">
                        <h2>How Fashion 3D AI <span>3D Model</span> Generator works</h2>
                        <p>Generate 3D models from single shot images in minutes. You can download the <span>model in glb format and use it immediately in any 3D design tool or XR environment.</span>
                        </p>
                        <p>Please note, this AI model is currently trained on two object categories: Wolf
                        </p>
                        <div class="at-btnarea">
                            <a class="at-btn" href="javascript:void(0);">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        Generate 3D End
    *************************************-->
    <!--************************************
        WHy 3D Model Start
    *************************************-->
    <div class="at-haslayout at-sectionspace">
        <div class="at-whymodelarea">
            <div class="at-sectiontitle">
                <h3>Why 3D Model</h3>
            </div>
            <div class="at-why3dmodels">
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/chart.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>10x faster</h4>
                        <p>Generate 3D models from single shot images in minutes. You can download the model in glb format and use it immediately in any 3D design tool or XR environment.</p>
                    </div>
                </div>
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/info-circle.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>Up to 100x cheaper</h4>
                        <p>Alpha3D is a budget-friendly solution for creating 3D content. Save up to 100 times on manual labor and other costly resources per model, compared to traditional 3D creation methods.</p>
                    </div>
                </div>
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/story.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>No 3D modeling expertise needed</h4>
                        <p>You don’t need to be a designer to create 3D content. Alpha3D makes it easy for anyone to transform images into 3D digital assets.</p>
                    </div>
                </div>
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/chart.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>10x faster</h4>
                        <p>Generate 3D models from single shot images in minutes. You can download the model in glb format and use it immediately in any 3D design tool or XR environment.</p>
                    </div>
                </div>
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/info-circle.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>Up to 100x cheaper</h4>
                        <p>Alpha3D is a budget-friendly solution for creating 3D content. Save up to 100 times on manual labor and other costly resources per model, compared to traditional 3D creation methods.</p>
                    </div>
                </div>
                <div class="at-why3dmodel">
                    <span class="at-whyicon">
                        <img src="/Assets/images/story.svg" alt="Icon">
                    </span>
                    <div class="at-whymodelcontent">
                        <h4>No 3D modeling expertise needed</h4>
                        <p>You don’t need to be a designer to create 3D content. Alpha3D makes it easy for anyone to transform images into 3D digital assets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        WHy 3D Model End
    *************************************-->
    <!--************************************
        Intrested Alpha Start
    *************************************-->
    <div class="at-haslayout at-sectionspace at-topspacezero">
        <div class="container">
            <div class="at-intrestedarea">
                <figure class="at-intrestedbg">
                    <img src="/Assets/images/intrested-bg.jpg" alt="Intrested Bg">
                </figure>
                <div class="at-intrestedareacontent">
                    <h3>Interested in <span>giving Fashion3D</span> a try?</h3>
                    <p>Creating 3D content for augmented reality (AR) projects is a costly and time-consuming process. With Alpha3D, you can generate 3D models from text or 2D images quick and easy. Sign up and generate your first 50 3D models for free.</p>
                    <div class="at-btnarea">
                        <a class="at-btn" href="javascript:void(0);">Get started now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
        Intrested Alpha End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
<%- include('./partials/footer') %>