

    
    
    <!--<section class="wrapper">
        <div class="form login">
            <header>Login</header>
            <form id="commentForm" action="" method="post">
                <input type="text" name="email" id="email" placeholder="Email address" required />
                <input type="password" name="password" id="password" placeholder="Password" required />
                <a href="#">Forgot password?</a>
                <input type="submit" value="Login" />
              </form>
          </div>
      </div>
    </section>
    <script src="/js/validate.js"></script>-->


    <div class="at-loginsignupsection">
        <figure class="at-splashscreen">
            <img src="/Assets/images/splash-screen.jpg" alt="" />
        </figure>
        <div class="at-flexcontainer">
            <div class="flashing">
                <% if (flash) { %>
                    <div id="flashMessage" class="alert alert-<%- flash.type %>">
                        <%- flash.message %>
                    </div>
                     
                <% } %>
            </div>
            
            <div class="at-logoarea">
                <strong class="at-logo"><a href="javascript:void(0);"><img src="/Assets/images/logo.svg" alt=""></a></strong>
            </div>
            <div class="at-loginsignuparea">
                <form class="at-formtheme at-loginform" action="" method="post">
                    <fieldset>
                        <div class="form-group">
                            <legend class="">Welcome to Fashion 3D</legend>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter your email" autocomplete="on">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="at-inputwithicon">
                                <input type="password" name="password" class="form-control" placeholder="Enter Your password" autocomplete="off">
                                <i class="icon-eye-splash">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.6854 9C11.6854 10.485 10.4854 11.685 9.00043 11.685C7.51543 11.685 6.31543 10.485 6.31543 9C6.31543 7.515 7.51543 6.315 9.00043 6.315C10.4854 6.315 11.6854 7.515 11.6854 9Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.99988 15.2025C11.6474 15.2025 14.1149 13.6425 15.8324 10.9425C16.5074 9.885 16.5074 8.1075 15.8324 7.05C14.1149 4.35 11.6474 2.79 8.99988 2.79C6.35238 2.79 3.88488 4.35 2.16738 7.05C1.49238 8.1075 1.49238 9.885 2.16738 10.9425C3.88488 13.6425 6.35238 15.2025 8.99988 15.2025Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <a href="/forgot-password" class="at-forgotpassword">Forgot Password?</a>
                        </div>
                        <div class="form-group text-center mb-2">
                            <button type="submit" class="at-btn at-btn-lg at-btnsignin login-spinner">
                                <span class="login-text">Sign In</span>
                                <i class="spinner-border spinner-border-sm d-none" id="loadderClass"></i>
                            </button>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
            <div class="d-flex align-items-center justify-content-center at-accountyet">
                <p>Don't have an account yet? <a href="signup">Sign up</a></p>
            </div>
        </div>
    </div>

