
<!-- forgot-password.ejs -->

<div class="at-loginsignupsection">
    <figure class="at-splashscreen">
        <img src="/Assets/images/splash-screen.jpg" alt="" />
    </figure>
    <div class="at-flexcontainer">
        <div class="at-logoarea">
            <strong class="at-logo"><a href="javascript:void(0);"><img src="/Assets/images/logo.svg" alt=""></a></strong>
        </div>
        <div class="at-loginsignuparea">

            
        <form class="at-formtheme at-loginform" action="/reset-password/<%= token %>" method="POST">
            <fieldset>
            <div class="form-group">
                <legend class="">Reset Password</legend>
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter New Password" required>
            </div>
            <div class="form-group text-center mb-2">
                <button type="submit" class="at-btn at-btn-lg at-btnsignin login-spinner">
                    <span class="login-text">Change Password</span>
                    <i class="spinner-border spinner-border-sm d-none" id="loadderClass"></i>
                </button>
            </div>
            
        </fieldset>
          </form>
        </div>
    </div>
</div>

  
  